node_modules/
out/
target/
.next/
batch_results/
*.json.gz
*.witness
src/contracts/artifacts/
src/contracts/cache/
storage/filecoin_db.json
src/storage/filecoin_db.json
.DS_Store
.vscode/
.env
uploads/
analiz.txt
public/html/
public/html_files/